<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" href="MyStyle.css">
</head>
<body>
<div class="body">
    <div class="header">
        <div class="headerType1">
            <a href="google.com" class="links">CONTACT</a>
        </div>
        <div class="headerType1">CV</div>
        <div class="headerType1">GITHUB</div>
    </div>

    <div class="lower">
        <a href="https://www.linkedin.com/in/johannes-forsting-b882461a0/"><img src="https://imgur.com/dQLVUYS.jpg"></a>
        <a href="https://www.facebook.com/johannes.forsting"><img src="https://imgur.com/LrPpN6t.jpg"></a>
        <a href="https://www.instagram.com/johannesforsting/"><img src="https://imgur.com/ALZjnbx.jpg"></a>

    </div>










</div>

</body>
</html>