<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" href="MyStyle.css">
</head>
<body>
<div class="body">
    <div class="top">
        <div>
            <div class="header"> <p>Johannes Forsting</p></div>
            <div class="text">Sed eu molestie massa. Aenean rhoncus eu felis nec tristique. Phasellus suscipit vestibulum mauris, at scelerisque nulla tempor et. Donec mattis vitae ligula quis sagittis. Fusce consequat neque nisi, sit amet varius mauris pretium eu. Nullam finibus, eros faucibus ultrices blandit, tortor purus aliquet dui, nec fringilla diam ante sed purus. Phasellus quis mollis mi. Proin dui ante, iaculis eu nisl sit amet, aliquet cursus leo. Mauris vitae gravida sem, et pulvinar sem.</div>
        </div>
            <div class="buttonsInTop">
                <div class="headerType1"> <a href="google.com" class="links">CONTACT</a> </div>
                <div class="headerType1"> <a href="google.com" class="links">CV</a> </div>
                <div class="headerType1"> <a href="google.com" class="links">GITHUB</a> </div>
            </div>
    </div>

    <div class="lower">
        <a href="https://www.linkedin.com/in/johannes-forsting-b882461a0/"><img src="https://imgur.com/dQLVUYS.jpg"></a>
        <a href="https://www.facebook.com/johannes.forsting"><img src="https://imgur.com/LrPpN6t.jpg"></a>
        <a href="https://www.instagram.com/johannesforsting/"><img src="https://imgur.com/ALZjnbx.jpg"></a>
    </div>
</div>

</body>
</html>